
# Python
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media
staticfiles

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Docker
docker-compose.override.yml

# Other
pending_uploads/
profile_images/
gym_scheduling_api.postman_collection.json
verify_gym_api.py
.DS_Store
verify_remote_apis.py
verify_nutrition_reflections_api.py